// 登録完了画面
.page{
  height: 100vh;
  width: 100vw;
}
.body{
  $backColor:#EEEEEE;
  background-color: $backColor;
  height: 520px;
}
.content-center{
  background-color: white;
  height: 520px;
  width: 500px;
  margin: 0 auto;
  padding: 50px 50px;
  .text__register{
    height: 30px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 30px;
    font-size: 28px;
    font-weight: bold;
  }
  .image__mail{
    height: 150px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 10px;
  }
  .content__send-email{
    height: 100px;
    margin-bottom: 30px;
  }
  .content__question{
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: blue;
    margin-top: 30px;
  }
}

.i{
  height: 50px;
  width: 50px;
}
.image-mail{
  width: 180px;
}

