-# -# 登録完了画面
-# .page
-#   = render "layouts/header"
-#   .body
-#     .content-center
-#       .text__register
-#         登録が完了しました
-#       .image__mail
-#         %span.image
-#           = image_tag("email.png",class: "image-mail")
-#       .content__send-email
-#         ご登録時のメールアドレス宛に認証URLをお送りしています。FURIMAからの大事なお知らせや登録手続き等を間違いなく受信するために、必ずご確認お願いします。
-#       .content__question
-#         =link_to 'メールが届いてない場合はこちらから','#'
-#   -# = render "layouts/footer"