.Header
  .Header__logo
    = link_to "#" do
      = image_tag ("logo.png")
.CreditMain
  .CreditMain__title
    %h1<>クレジットカード入力画面
  .CreditMain__contents
    .Credit__form
      %form{action: "/credit_cards", method: "post"}
        %script{src: "https://checkout.pay.jp/", class: "payjp-button", "data-key": "pk_test_49da7275075f7695107aa88e", "data-text": "カード情報を入力する", "data-submit-text": "カード情報を入力する"}
