= render partial: 'layouts/header'
.LogoutScreen
  .LogoutScreen__content
    .LogoutButton 
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "mypage-wrapper__contents__right-logout__content__btn"