.SendingMain {
  width: 100vw;
  box-sizing: border-box;
  background-color: whitesmoke;
  padding: 50px 0;
  &__content {
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding-bottom: 50px;
    &__title {
      height: 60px;
      margin: 0 auto;
      font-size: 20px;
      text-align: center;
      padding: 15px;
      border-bottom: 1px whitesmoke solid;
      font-weight: bolder;
    }
    &__form {
      width: 280px;
      height: 800px;
      margin: 30px auto 0;
      .SendingMain__group {
        font-size: 16px;
        &__require {
          background-color: turquoise;
          border: 1px solid turquoise;
          color: #fff;
        }
        &__box {
          display: flex;
          margin-bottom: 25px;
        }
        .Sending__input__right {
          border-radius: 5px;
          width: 130px;
          height: 45x;
          margin-left: 10px;
        }
        .Sending__input__left {
          border-radius: 5px;
          width: 130px;
          height: 45px;
        }
        .Sending__input {
          width: 280px;
          height: 45px;
          border-radius: 5px;
          margin-bottom: 25px;
        }
        #user_address_prefecture_code {
          width: 280px;
          height: 45px;
          border-radius: 5px;
          margin-bottom: 25px;
        }
        .signUp-btn {
          width: 280px;
          height: 40px;
          background-color: turquoise;
          color: #fff;
        }
        
      }
    }

  }
}