.items_new_page{
  background-color: silver;
  padding: 10px 0;
  
  form{
    margin: 0 auto;
    background-color: #ffffff;
    max-width: 600px;
    width: 100%;
    border-radius: 4px;
    padding: 32px 24px;
    
    .form_section{
      border-bottom: solid 1px #999999;
      padding-top: 10px;
      padding-bottom: 10px;

      .form-group__require {
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        font-size: 12px;
        background-color: red;
        color: white;
      }
      label{
        font-size: 20px;
        font-weight: bolder;
      }
      select,input,textarea {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        height: 48px;
        margin: 0;
        outline: none;
        padding: 0 16px;
      }
      .item_info_form {
        height: 150px;
      }
    }
    .image_register{
      .image-attend{
        margin: 10px;
        font-size: 12px;
      }
      #previews{
        display: flex;
        flex-wrap: wrap;
        }
        li.input{
          width: 100%;
          height: 110px;
          background-color: #3CCACE;
          border: dotted 4px silver;
          border-radius: 20px;
          position: relative;
        }
      }
    }
    .register_btns{
      padding: 30px;
      .exhibition-btn{
        background-color: #3CCACE;
        color: #ffffff;
        border-radius: 16px;
      }
    }
    .attentions{
      padding-top: 10px;
      font-size: 12px;
    }
  }
